
* {
	box-sizing: border-box;
}
body {
    background: #fff;
}
ul {
	display: inline;
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 100;
	width: 100%;
	position: fixed;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	transition: background 150ms linear, transform 150ms linear, -webkit-transform 150ms linear;
 
}
#namecolor {
	color: black;
}
#navimg {
	height: 50px;
	margin-left: 1rem;
	margin-top: .5rem;
	margin-bottom: .3rem;
}
.navigation .navigation-links {
	display: flex;
	align-items: stretch;
	list-style: none;
	padding: 0 1rem 0 0;
}

.navigation-item {
	display: block;
	text-align: center;
}
li {
	display: inline;
	margin-right: 20px;
}
.masthead--third {
	height: 15vh;
	justify-content: center;
	text-align: center;
}
.navigation-branding a {
	margin-top: 1rem;
	font-family: "proxima-nova", "Arial", "sans-serif";
}




html {
  font-family: sans-serif;
  
  -ms-text-size-adjust: 100%;
  
  -webkit-text-size-adjust: 100%;
   }



body {
  margin: 0; }




article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }



audio,
canvas,
progress,
video {
  display: inline-block;
  
  vertical-align: baseline;
   }



audio:not([controls]) {
  display: none;
  height: 0; }



[hidden],
template {
  display: none; }




a {
  background-color: transparent; }



a:active,
a:hover {
  outline: 0; }




abbr[title] {
  border-bottom: 1px dotted; }



b,
strong {
  font-weight: bold; }



dfn {
  font-style: italic; }



h1 {
  font-size: 2em;
  margin: 0.67em 0; }



mark {
  background: #ff0;
  color: #000; }



small {
  font-size: 80%; }



sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }


sup {
  top: -0.5em; }


sub {
  bottom: -0.25em; }




img {
  border: 0; }



svg:not(:root) {
  overflow: hidden; }




figure {
  margin: 1em 40px; }



hr {
  box-sizing: content-box;
  height: 0; }



pre {
  overflow: auto; }



code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }






input,
optgroup,
select,
textarea {
  color: inherit;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
  font: inherit;
  width: 100%;
  margin: .5em;
  display: block;
  border-radius: 5px;
  padding: 5px;
   }



button {
  overflow: visible; }



button,
select {
  text-transform: none; }



button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  
  cursor: pointer;
   }



button[disabled],
html input[disabled] {
  cursor: default; }



button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }



input {
  line-height: normal; }



input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  
  padding: 0;
   }



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }



input[type="search"] {
  -webkit-appearance: textfield;
  
  box-sizing: content-box;
   }



input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }



fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }



legend {
  border: 0;
  
  padding: 0;
   }



textarea {
  overflow: auto; 
height: 150px;
width: 100%;
padding: 10px;
border-radius: 5px;
 box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);}



optgroup {
  font-weight: bold; }




table {
  border-collapse: collapse;
  border-spacing: 0; }


td,
th {
  padding: 0; }


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

html {
  font-size: 1.125em; }


body {
  background-color: #FBFBFB;
  font-family: "adelle", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.7); }


a {
  text-decoration: none; }


button,
.button {
  background-color: #FFFFFF;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: inline-block;
  line-height: 3;
  overflow: visible;
  padding: 0 2.5em;
  text-align: center;
  text-decoration: none;
  transition: 150ms;
  font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  
  button:hover, button:focus,
  .button:hover,
  .button:focus {
    background-color: white;
    color: inherit;
    text-decoration: none; }
  
  button:focus, button:active,
  .button:focus,
  .button:active {
    outline: none; }
  
  button:active,
  .button:active {
    background-color: white; }
  
  button[disabled],
  .button[disabled] {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.7);
    cursor: not-allowed; }


.button--xsm {
  font-size: 1.25em;
  line-height: 1.5;
  padding: 0 1.5em; }


.button--sm {
  font-size: 1.563em;
  line-height: 1.5;
  padding: 0 2em; }


.button--lg {
  font-size: 1.953em;
  line-height: 1.5;
  padding: 0 3em; }


.button--xlg {
  font-size: 2.441em;
  line-height: 1.5;
  padding: 0 3.5em; }


.button--full {
  width: 100%; }


.button--pill {
  border-radius: 50px; }


.button--flat {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7); }
  
  .button--flat:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.7); }
  
  .button--flat[disabled] {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.6); }


.button--bordered {
  background-color: transparent;
  border: 1px solid;
  color: #3D84A8; }
  
  .button--bordered:hover, .button--bordered:focus {
    background-color: #3D84A8;
    color: #FFFFFF; }


.device-frame {
  display: block;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left; }
  
  .device-frame--nexus5x {
    background: url(/images/assets/device_frame_nexus5x.png) transparent top left no-repeat;
    background-size: cover;
    width: 239px;
    height: 491px;
    padding-top: 46px;
    padding-left: 11px; }


.device-viewport {
  display: block;
  background-color: red; }
  
  .device-viewport--nexus5x {
    width: 216px;
    height: 384px;
    width: 50px;
    height: 50px; }


hr {
  padding: 0;
  border: none;
  border-top: 4px solid #00adb5;
  width: 4rem;
  margin: 1rem auto 1rem auto; }


img {
  /*opacity: 0;*/
  transition: opacity 150ms ease-in; }


.cards {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media all and (min-width: 47.5em) {
    
    .cards {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 80%; } }
  @media all and (min-width: 60em) {
    
    .cards {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 60%;
      margin-left: auto;
      margin-right: auto; } }


.card {
  border-radius: 4px;
  border: 1px solid #EEEEEE;
  margin: 1rem 1rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  min-height: 150px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
  display: inline-block;
  vertical-align: top;
   }

  @media all and (min-width: 40em) {
    
    .card {
      margin-left: 80px;
      margin-right: 80px; } }
  @media all and (min-width: 47.5em) {
    
    .card {
      width: 40%;
      max-width: 80vw;
      margin: 1% 4%; } }


.card-title {
  font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
  font-size: 1.25em;
  color: #3D84A8; }


.card-content {
  font-size: 1em;
  width: 90%;
  margin: 0 auto;
  text-align: center; }


figure {
  margin: 1rem 0; }


figcaption {
  padding: 1rem 0 0 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8em; }


blockquote {
  text-align: center;
  margin: 4rem auto; }


.blockquote__content {
  color: #3D84A8;
  margin: 0;
  font-style: italic;
  font-size: 1em;
  margin-right: 20px;
  margin-left: 20px; }
  @media all and (min-width: 40em) {
    
    .blockquote__content {
      font-size: 1.25em;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 1rem; } }
  @media all and (min-width: 47.5em) {
    
    .blockquote__content {
      font-size: 1.563em;
      max-width: 680px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem; } }
  @media all and (min-width: 60em) {
    
    .blockquote__content {
      max-width: 880px;
      margin-left: auto;
      margin-right: auto; } }


.blockquote__byline {
  color: #48466D; }
  @media all and (min-width: 40em) {
    
    .blockquote__byline {
      font-size: 1em; } }


h1, h2, h3, h4 {
  font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
  margin: 0 1rem 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.9);
  text-align: center; }


h1 {
  font-size: 2.441em;
  /*text-transform: uppercase;*/
  font-style: normal;
  font-weight: 600;
  margin-top: 0; }


h2 {
  font-size: 1.953em;
  font-weight: 500; }


h3 {
  font-size: 1.563em;
  font-style: normal;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0; }


h4 {
  font-size: 1.25em; }


p {
  line-height: 1.9;
  margin-bottom: 1.3em; }


small, .font_small {
  font-size: 0.707em; }


.masthead {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100vh;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-position-x: 50%;
  background-position-y: 100%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat; }
  
  .masthead__title {
    color: rgba(0, 0, 0, 0.9);
    font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.563em;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 20px;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 150ms;
    animation-duration: 150ms;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    @media all and (min-width: 40em) {
      
      .masthead__title {
        font-size: 1.953em;
        margin: 0 auto 0.2em auto;
        width: 50%; } }
  
  .masthead__leader {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.125em;
    text-align: center;
    margin: 0 20px;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 150ms;
    animation-duration: 150ms;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    @media all and (min-width: 40em) {
      
      .masthead__leader {
        margin: 0 auto;
        width: 50%; } }
  
  .masthead--dark .masthead__title,
  .masthead--dark .masthead__leader {
    color: #FFFFFF; }
  
  .masthead--light .masthead__title,
  .masthead--light .masthead__leader {
    color: #393E46; }
  
  .masthead--full {
    padding-top: 26vh;
    height: 660px;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  
  .masthead--half {
    height: 50vh;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  
  .masthead--third {
    height: 33vh;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  
  .masthead--quarter {
    height: 25vh;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  
  .masthead br {
    display: inline; }
    @media all and (min-width: 40em) {
      
      .masthead br {
        display: none; } }


.icon-facebook {
  fill: #3b5998; }


.icon-linkedin {
  fill: #0077b5; }


.icon-twitter {
  fill: #55acee; }


.icon-google-plus {
  fill: #dc4e41; }


.icon-medium {
  fill: #00ab6b; }


.icon-github {
  fill: #4183c4; }


.icon-dribbble {
  fill: #ea4c89; }


.icon-pinterest {
  fill: #bd081c; }


.headroom--pinned {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%); }


.headroom--unpinned {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }


.headroom--top {
  background-color: white; }


.headroom--not-top {
  background-color: rgba(255, 255, 255, 0.98); }


.navigation {
  transition: background 150ms linear, -webkit-transform 150ms linear;
  transition: background 150ms linear, transform 150ms linear;
  transition: background 150ms linear, transform 150ms linear, -webkit-transform 150ms linear;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
  z-index: 100;
  }
  
  .navigation .navigation-links {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0 1rem 0 0; }
    @media all and (min-width: 40em) {
      
      .navigation .navigation-links {
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row; } }
  
  .navigation .navigation__toggle {
    display: block; }
    @media all and (min-width: 40em) {
      
      .navigation .navigation__toggle {
        display: none; } }


.navigation-branding {
  padding: 0 0 0 1rem; }
  
  .navigation-branding a {
    color: black;
    line-height: 62px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: normal; }


.navigation-item {
  text-align: center; }
  
  .navigation-item a {
    transition: border 150ms linear;
    color: black;
    display: block;
    text-decoration: none;
    line-height: 62px;
    padding: 0 1rem;
    border-bottom: 2px solid transparent;
    font-size: 0.8em; }
    
    .navigation-item a:hover {
      border-bottom: 2px solid #990000; }
  
  .navigation-item--active a {
    border-bottom: 2px solid #00adb5; }
  
  .navigation-item:not(.navigation__toggle) {
    display: none; }
  @media all and (min-width: 40em) {
    
    .navigation-item:not(.navigation__toggle) {
      display: block; } }

@media all and (min-width: 40em) {
  
  .navigation--mobile {
    display: none; } }

.navigation--mobile .navigation-links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  list-style: none;
  margin: 0;
  padding: 0 1rem 0 0; }

.navigation--mobile .navigation-item {
  display: block;
  font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
  border-top: 1px solid #EEEEEE; }
  
  .navigation--mobile .navigation-item a {
    border: none; }
    
    .navigation--mobile .navigation-item a:hover {
      border: none; }


footer {
/*  background-color: #FFFFFF;*/
background-image: url("assets/headerbackground.jpg");
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }
  @media all and (min-width: 40em) {
    
    footer {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  
  footer p {
    text-align: center;
    color: #393E46;
    font-size: 0.8em; }
    @media all and (min-width: 40em) {
      
      footer p {
        text-align: left;
        padding: 0 0 0 1rem; } }
  
  footer a {
    display: inline;
    color: #393E46;
    text-decoration: underline;
    text-align: center; }
    @media all and (min-width: 40em) {
      
      footer a {
        text-align: left; } }
  
  footer section {
    padding: 2rem 0;
    width: 100%; }


.footer__link-list {
  list-style: none;
  margin: 0 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media all and (min-width: 40em) {
    
    .footer__link-list {
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin: 0 1rem 0 0; } }
  
  .footer__link-list a {
    display: block;
    padding: 0 0.5rem; }


.footer__list-item {
  display: block; }
  
  .footer__list-item svg {
    display: block;
    width: 24px; }
  
  .footer__list-item .icon-github,
  .footer__list-item .icon-linkedin,
  .footer__list-item .icon-dribbble,
  .footer__list-item .icon-twitter,
  .footer__list-item .icon-medium {
    fill: #393E46; }


.page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  
  .page:before, .page:after {
    content: "";
    display: table; }
  
  .page:after {
    clear: both; }
  
  .page__leader {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.125em;
    text-align: center;
    margin: 0 auto;
    width: 40vw; }


.header__backdrop {
  width: 100%;
  height: 100%;
  background-position: bottom center;
  background-repeat: no-repeat; }
  
  .header__backdrop:before, .header__backdrop:after {
    content: "";
    display: table; }
  
  .header__backdrop:after {
    clear: both; }


.page__section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 95%;
  padding: 2rem 0;
  margin: 1% 3%;
  flex-wrap: wrap;}
  
  .page__section:before, .page__section:after {
    content: "";
    display: table; }
  
  .page__section:after {
    clear: both; }

.page__content {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }
  
  .page__content:before, .page__content:after {
    content: "";
    display: table; }
  
  .page__content:after {
    clear: both; }
  
  .page__content h1 {
    font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    letter-spacing: 0.18rem;
    margin-bottom: 1rem;
    text-align: center; }
  
  .page__content h2 {
    font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
    font-size: 1.563em;
    margin-top: 0; }
    @media all and (min-width: 40em) {
      
      .page__content h2 {
        font-size: 1.953em; } }
  
  .page__content h3 {
    font-size: 1.25em; }
    @media all and (min-width: 40em) {
      
      .page__content h3 {
        font-size: 1.563em; } }
  
  .page__content h4 {
    font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
    font-size: 1.25em; }
  
  .page__content > p, .page__content > ul, .page__content > h1, .page__content > h2, .page__content > h3, .page__content > h4, .page__content > h5 {
    max-width: none;
    margin-right: 2rem;
    margin-left: 2rem; }
    @media all and (min-width: 40em) {
      
      .page__content > p, .page__content > ul, .page__content > h1, .page__content > h2, .page__content > h3, .page__content > h4, .page__content > h5 {
        margin-left: 80px;
        margin-right: 80px; } }
    @media all and (min-width: 47.5em) {
      
      .page__content > p, .page__content > ul, .page__content > h1, .page__content > h2, .page__content > h3, .page__content > h4, .page__content > h5 {
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto; } }
    @media all and (min-width: 60em) {
      
      .page__content > p, .page__content > ul, .page__content > h1, .page__content > h2, .page__content > h3, .page__content > h4, .page__content > h5 {
        max-width: 50vw; } }
  
  .page__content--image {
    padding: 0;
    width: 100%; }
    
    .page__content--image image {
      width: 100%; }
  
  .page__content--span {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: none;
    margin: auto; }


.page__section--two-up {
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
              -ms-grid-row-align: stretch;
          align-items: stretch; }
  @media all and (min-width: 40em) {
    
    .page__section--two-up {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  
  .page__section--two-up .page__content {
    width: 100%; }
    
    .page__section--two-up .page__content .button {
      width: 100%; }
    @media all and (min-width: 40em) {
      
      .page__section--two-up .page__content {
        width: 50%; }
        
        .page__section--two-up .page__content .button {
          width: auto; } }
    
    .page__section--two-up .page__content > p, .page__section--two-up .page__content > ul, .page__section--two-up .page__content > h1, .page__section--two-up .page__content > h2, .page__section--two-up .page__content > h3, .page__section--two-up .page__content > h4 {
      max-width: none;
      margin-right: 20px;
      margin-left: 20px; }


.media--fluid {
  width: 100%; }


em.leader {
  display: block;
  font-size: 1.25em;
  font-style: normal;
  max-width: none;
  margin-right: 2rem;
  margin-left: 2rem; }
  @media all and (min-width: 40em) {
    
    em.leader {
      margin-left: 80px;
      margin-right: 80px; } }
  @media all and (min-width: 47.5em) {
    
    em.leader {
      max-width: 80vw;
      margin-left: auto;
      margin-right: auto; } }
  @media all and (min-width: 60em) {
    
    em.leader {
      max-width: 50vw; } }


.project {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
  width: 100%;
  max-height: none; }
  @media all and (min-width: 40em) {
    
    .project {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 7rem 40px;
      max-height: 660px; } }
  @media all and (min-width: 47.5em) {
    
    .project {
      padding: 7rem 10vw; } }
  @media all and (min-width: 60em) {
    
    .project {
      padding: 7rem 22vw; } }
  
  .project .project__content {
    padding: 0 20px;
    width: 100%; }
    @media all and (min-width: 40em) {
      
      .project .project__content {
        width: 50%; } }
  
  .project h3, .project p {
    text-align: center; }
    @media all and (min-width: 40em) {
      
      .project h3, .project p {
        text-align: left; } }
  
  .project small {
    display: block;
    color: #FFFFFF; }
  
  .project--dark h3, .project--dark p, .project--dark a {
    color: #FFFFFF; }
  
  .project--light h3, .project--light p, .project--light a {
    color: #393E46; }


.project--tango-out {
  background: url("../images/work/tango-out/masthead-tango-out.jpg") top center no-repeat;
  background-size: cover; }
  
  .project--tango-out a.button {
    color: #2AC0F1; }


.project--tango-video {
  background: url("../images/work/tango-video-calling/masthead-tango-video-calling.jpg") top center no-repeat;
  background-size: cover; }
  
  .project--tango-video a.button {
    color: #FE6443; }


.project--recurly-app {
  background: url("../images/work/recurly-app/masthead-recurly-bg.jpg") top center no-repeat;
  background-size: cover; }
  
  .project--recurly-app a.button {
    color: #723080; }


.shareit {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  padding: 3rem 20px;
  width: 100%; }
  @media all and (min-width: 40em) {
    
    .shareit {
      padding: 5rem 0; } }
  
  .shareit em {
    font-size: 1.563em;
    text-align: center; }
  
  .shareit ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    list-style: none;
    padding: 0;
    margin: 2rem 0 0; }
  
  .shareit a {
    display: block;
    padding: 0 1rem; }
  
  .shareit svg {
    display: block;
    width: 36px; }


.pagination {
  height: 160px;
  background-color: #393E46; }
  
  .pagination ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; }
    @media all and (min-width: 40em) {
      
      .pagination ul {
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 0 2rem; } }
  
  .pagination a {
    color: #FFFFFF; }
  
  .pagination--prev::before {
    content: "← "; }
  
  .pagination--next::after {
    content: " →"; }


.skill-graph {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid #EEEEEE;
  overflow: hidden; }


.stacked-bars {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }


.skill-segment {
  display: block;
  height: 10px; }


.skill-name, .skill-value {
  display: none; }


.skill-legend {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media all and (min-width: 40em) {
    
    .skill-legend {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-align-content: space-between;
          -ms-flex-line-pack: justify;
              align-content: space-between;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }


.legend-item {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0.5rem 1rem;
  text-align: left; }
  @media all and (min-width: 40em) {
    
    .legend-item {
      padding: 1rem 1rem;
      text-align: center; } }


.legend-name, .legend-value {
  font-size: 0.8em;
  padding: 0 .25rem; }


.legend-color {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  margin: 0 0.25rem 0 0; }


.is-pressable:active {
  position: relative;
  top: 1px; }


* {
  box-sizing: border-box; }
#navname {
	margin-top: .5rem;
}
#mainpicture {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	margin: 0 auto;
	border: 1.5px solid white;
	border-radius: 50%;
}
header {
	background-image: url("assets/headerbackground.jpg");
}
.contactcard {
  border-radius: 4px;
  border: 1px solid #EEEEEE;
  margin: 1rem 1rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  min-height: 150px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
  display: inline-block;
   }

  @media all and (min-width: 40em) {
    
    .contactcard {
      margin-left: 80px auto;
      margin-right: 80px auto; } }
  @media all and (min-width: 47.5em) {
    
    .contactcard {
      width: 100%;
      max-width: 60vw;
      margin: 1% 20%; } }

.inputform {
	width: 75%;
	margin: 0 auto;
}
.inputform input[type=button] {
	border-radius: 4px;
	margin: 1em 20em;
	text-align: center;
}
.socialicon {
	height: 16px;
	width: 16px;
	margin: 1rem;
	color: white;
}
.socialicon img {
	height: 25px;
	width: 25px;
}
.socialicon img:hover {
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
#socialicons {
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	align-items: center;
	margin-right: 3rem;
	align-content: right;
	align-items: right;
}
.question {
	font-weight: bold;
}
#contentholder {
	align-content: center;
	align-items: center;
	margin: 0 auto;
	display: flex;
	flex-flow: row;
}
.workcard {
  border-radius: 4px;
  border: 1px solid #EEEEEE;
  margin: 1rem 1rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  min-height: 350px;
  /* max-height: 350px; */
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
  display: inline;
  vertical-align: top;
  overflow: hidden;

   }

  @media all and (min-width: 40em) {
    
    .workcard {
      margin-left: auto;
      margin-right: auto;
vertical-align: top;	  } }
  @media all and (min-width: 47.5em) {
    
    .workcard {
      width: 30%;
      max-width: 100vw;
      margin: 1% 4%; 
	  vertical-align: top;
	  overflow: hidden;} }
.playcard {
  border-radius: 4px;
  border: 1px solid #EEEEEE;
  margin: 1rem 1rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  min-height: 150px;
  /* max-height: 500px; */
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
  display: inline;
  vertical-align: top;

   }

  @media all and (min-width: 40em) {
    
    .playcard {
      margin-left: auto;
      margin-right: auto; } }
  @media all and (min-width: 47.5em) {
    
    .playcard {
      width: 30%;
      max-width: 100vw;
      margin: 1% 4%; } }



.bottomcard {
  /*border-radius: 4px;*/
  /*border: 1px solid #EEEEEE*/;
  margin: 3rem auto;
  padding: 1.5rem 1.5rem 0 1.5rem;
  min-height: 150px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  display: inline-block;

   }

  @media all and (min-width: 40em) {
    
    .bottomcard {
      margin-left: auto;
      margin-right: auto; } }
  @media all and (min-width: 47.5em) {
    
    .bottomcard {
      width: 100%;
      max-width: 100vw;
      margin: 1% 0 0 0;
      display: inline-grid;
      background-image: url("assets/headerbackground.jpg"); } }

.topflush {

  margin: 3rem auto;
  padding: 1.5rem 1.5rem 0 1.5rem;
  min-height: 100px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  display: inline-block;

   }

  @media all and (min-width: 40em) {
    
    .topflush {
      margin-left: auto;
      margin-right: auto; } }
  @media all and (min-width: 47.5em) {
    
    .topflush {
      width: 100%;
      max-width: 100vw;
      margin: 1% 0 0 0;
      display: inline-grid;
      background-color: rgba(10,10,10,0.05); } }
  .projecttitle {
  	color: black;
  }
  .projecttitle a {
  	color:black;
  }
  .projectitle a:hover {
  	color: darkpurple;
  }
  .workicon {
  	display:table-cell;
	vertical-align:middle;
	text-align:center;
	margin: 1rem auto;
  }
  .projectcard {

  margin: 3rem auto;
  padding: 1.5rem 1.5rem 0 1.5rem;
  min-height: 100px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  display: inline-block;

   }

  @media all and (min-width: 40em) {
    
    .projectcard {
      margin-left: auto;
      margin-right: auto; } }
  @media all and (min-width: 47.5em) {
    
    .projectcard {
      width: 65%;
      max-width: 100vw;
      margin: 2rem auto;
      display: inline-grid;
       } }

   #silverprojectdesc {
   	width: 80%;
   	max-width: 80%;
   	margin: 0 auto;
   }
   .playicon {
   	  	display:table-cell;
		vertical-align:middle;
		text-align:center;
		margin: 1rem auto;
		max-height: 120px;
		max-width: 120px;
   }